{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <div style="text-align: center; margin-top: 50px;">
    {% comment %} <img src="{% static 'images/logo.png' %}" width="150" /> {% endcomment %}
    <h2>Forgot your password?</h2>
    <p>Enter your registered email and we'll send you a link to reset your password.</p>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Send Reset Email</button>
    </form>
  </div>
</body>
</html>
